<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust-Edit</title>
</head>
<body>
    <h3>Edit the listing @<%=listing._id%></h3>

    <form action="/listings/<%=listing._id%>?_method=PATCH" method="post">
        
        <input type="text" name="listing[title]" value="<%=listing.title%>" >
        <br><br><br>
        <textarea name="listing[description]" ><%=listing.description%></textarea>
        <br><br><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>">
        <br><br><br>
        <input type="text" name="listing[location]" value="<%=listing.location%>">
        <br><br><br>
        <input type="text" name="listing[country]" value="<%=listing.country%>">
        <br><br><br>
        <input type="text" name="listing[image][url]" value="<%=listing.image.url%>">
        <br><br><br>
        <button  style="padding: 16px 24px;border-radius: 30px;background-color: rgb(239, 15, 41);color: white; font-weight: 500; font-size: larger;" >Submit</button>

    </form>
</body>
</html>