<% layout('/layouts/boilerplate.ejs') %>

<body >
    <h3>All Listings</h3>
    <!-- new listing  -->
    <br>

    <!-- all listings -->
    <div class="row row-cols-lg-3 row-col-md-2 row-cols-sm-1 ">

        <%for(let listing of allListings){%>
            <a href="/listings/<%=listing._id%>">
            <div class="card col listing-card"  >
                <img src="<%=listing.image.url%>" class="card-img-top" alt="<%=listing.image.filename%> " style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%=listing.title%></b> <br>
                        &#x20b9;<%=listing.price.toLocaleString("en-IN")%>
                    </p>
                </div>
            </div>
            </a>
        <%}%>

    </div>



</body>


